*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
margin-left: 150px;
margin-right: 150px;
background: rgb(58, 58, 58);
font-family:Arial,Helvetica,sans-serif;
color:white;
background-image:
linear-gradient(rgba(255,255,255,.02) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.02) 1px, transparent 1px);

background-size:16px 16px;

}

/* HEADER */

header{

height:60px;
background:#202830;

display:flex;
align-items:center;
padding:0 20px;

border-bottom:2px solid #2d3945;

}

.logo{

background:#d8bf43;
color:#111;

font-weight:bold;

padding:8px 16px;

font-size:28px;

margin-right:30px;

}

nav{

display:flex;
gap:20px;

}

nav a{

color:#d7d7d7;
text-decoration:none;

}

nav a:hover{

color:#ffe04f;

}

.search{

margin-left:auto;

}

.search input{

width:240px;

padding:10px;

background:#303840;

border:1px solid #555;

color:white;

outline:none;

}

.account{

display:flex;
gap:15px;
margin-left:20px;

}

.account a{

color:#ffe04f;
text-decoration:none;

}

/* MAIN */

.container{

width:1080px;

margin:50px auto;

display:grid;

grid-template-columns:2.2fr 1fr;

gap:20px;

}

/* FEATURED */

.featured{

position:relative;

background:#222;

border:2px solid #333;

overflow:hidden;

}

.featured img{

width:100%;
display:block;

}

.label{

position:absolute;

left:0;
top:0;

padding:10px 15px;

font-size:18px;
font-weight:bold;

}

.title{

position:absolute;

bottom:70px;

left:0;

background:#f0d437;

color:black;

padding:10px 16px;

font-size:26px;
font-weight:bold;

}

.stats{

position:absolute;

bottom:10px;
left:10px;

display:flex;
gap:10px;

}

.stats span{

padding:8px 10px;

}

/* SIDEBAR */

.sidebar{

display:grid;

grid-template-columns:1fr 1fr;

gap:10px;

}

.thumb{

background:#222;

border:2px solid #333;

overflow:hidden;

cursor:pointer;

transition:.2s;

}

.thumb:hover{

border-color:#f0d437;

}

.thumb img{

width:100%;

display:block;

}

/* TABS */

.tabs{

width:1080px;

margin:25px auto;

display:flex;

gap:10px;

}

.tabs button{

background:#222d36;

color:white;

border:2px solid #394652;

padding:14px 24px;

font-size:18px;

cursor:pointer;

}

.tabs button:hover{

background:#303d47;

}

.tabs .active{

background:#2d3945;

border-color:#f0d437;

}

.tabs input{

margin-left:auto;

width:300px;

background:#222;

border:2px solid #394652;

color:white;

padding:12px;

outline:none;

}